.container {
    @apply w-3/5 bg-indigo-200 border-zinc-300 rounded-3xl p-7 relative flex flex-col justify-between;

    min-width: 360px;
    min-height: 300px;
    background-image: url(../../../../assets/image/clouds.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;

    &::before {
        @apply bg-indigo-300 w-full h-full absolute shadow-xl rounded-3xl;
        content: '';
        top: 7px;
        left: 0;
        z-index: -1;
    }

    .row {
        @apply flex flex-row items-center text-lg;
        .icon {
            @apply w-10 h-10 bg-indigo-50 rounded-full p-2 shadow-xl mr-5;
        }

        .title {
            @apply mr-5 text-lg font-light;
            min-width: 130px;
        }

        .description {
            @apply text-lg;
        }
    }
}
